html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}

/* --------  body ---------- */

body {
  margin: 0px;
  font: 15px/21px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  color: #131211;
  padding-top: 50px;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

/* --------  buttons ---------- */

.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
}

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}

.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}

/* gray */
.gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
  background: -moz-linear-gradient(top,  #888,  #575757);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

.gray:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
  background: -moz-linear-gradient(top,  #575757,  #888);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* ------- links ---------- */

a {
  color: #ff6600;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: #131211;
  text-decoration: none;
  border-bottom: none;
}

a:focus {
  border: 0px;
  outline: none;
  text-decoration: none;
}

h1 a {
  color: #ff6600;
  text-decoration: none;
}

/* ------- #ids ---------- */

#container {
  width: 600px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
}

h1 {
  color: #ff6600;
  font-size: 36px;
  line-height: 1em;
  margin: 0px 0px 0px;
  padding: 0;
  font-weight: bold;
}

#about {
  font-size: 15px;
  color: #272727;
  margin-top: 20px;
}

#footer {
  font-size: 14px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}

#appMsg {
  width:100%;
  top:0;
  left:0;
  position:fixed;
  background-color: #F47A20;
  font-size:23px;
  padding:20px;
  text-align:center;
  color:#fff;
}


.gray {
  font-size: 16px;
  margin-right: 10px;
  float: right;
}

.txt {
  font-size: 16px;
  padding: 5px;
  border:1px solid #000;
  -moz-border-radius: 4px; 
  width: 330px;
}

.bookmarkButton {
	background-color: #000;
	border:1px solid #0000;
	color:#fff;
	font-weight:bold;
	padding:6px;
	font-size:11px;
	cursor:move;
	margin-right: 5px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.bookmarkButton:hover {
	color: #ff6600;
}

#formDiv {
  margin: 0 auto;
  width: auto;
}

#formDiv a:hover {
  color: #fff;
}

fieldset { 
  display: block;  
  margin: 0 auto; 
  padding: 20px; 
  -moz-border-radius: 10px; 
  background: #131211;
}

form { 
  margin: 0px; 
  padding: 0px;
}

label {
  text-align:right;
  float: left;
  font-size: 16px;
  color: #fff;
  width: 200px;
  margin-right: 5px;
  padding: 2px;
}